app:
  name: "Boilerplate"
  debug: true
  port: "3000"
  host: "localhost"
  service: "http"
  certificate:
  pem_key:
logging:
  service_name: "boilerplate-go-dev"
  log_path: "./Logs/app"
  enable_stdout: true
  enable_file: true
  enable_loki: true
  enable_rotation: true
alerts:
   enabled: true
   min_level: "ERROR"      # WARN, ERROR, CRITICAL
   rate_limit_sec: 300        # 5 minutes between same error
   discord:
     enabled: true
     webhook_url: "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN"
     username: "Error Bot"
   slack:
     enabled: false
     webhook_url: "https://hooks.slack.com/services/XXX/YYY/ZZZ"
     channel: "#alerts"
   telegram:
     enabled: false
     bot_token: "123456:ABC-DEF..."
     chat_id: "-1001234567890"
   email:
     enabled: true
     smtp_host: "live.smtp.mailtrap.io"
     smtp_port: 587
     username: "smtp@mailtrap.io"
     password: ""
     from: "hello@demomailtrap.co"
     to:
       - "yourgmail@gmail.com"
     use_tls: false
databases:
  - name: "boilerplate"
    engine: "postgres"
    username: "root"
    password: "password"
    port: "5432"
    host: "localhost"
    maximum_connection: 20
    maximum_idle_time: 30s
    usage: "Main databases!"
    connection: "mainDB"
  - name: ""
    engine: "redis"
    username: ""
    password: ""
    port: "6379"
    host: "localhost"
    maximum_connection: 20
    usage: "Main databases!"
    connection: "mainDBRedis"
api:
  read_timeout: 30
  write_timeout: 30
  idle_timeout: 30
email:
  host: "live.smtp.mailtrap.io"
  port: 587
  user: "smtp@mailtrap.io"
  password: ""
  email_from: "hello@demomailtrap.co"
news_api:
  host: "https://api.thenewsapi.com/v1/news/all"
  api_token: ""
mesh_news_api:
  host: "https://api.newsmesh.co/v1/latest"
  api_token: ""